{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tenda Fitness</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <main>
        <div class="container">
            <div class="logo">
                <img src="{% static 'img/teste-450.png' %}" alt="">
            </div>
            <div class="options_home">
                <div class="scheduling_buttom">

                </div>
                <div class="my_account_buttom">

                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>&copy;Tenda Beach Club</p>
    </footer>
</body>
</html>