{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="main_title">
        <h2>Novo Agendamento</h2>
    </div>
    <div class="new_appointment_form">
        <form method="post">
            {% csrf_token %}
            <div class="form_day">
                <label for="id_day">Data:</label>
                {{ form.day }}
            </div>
            {% for time in form.time %}
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-secondary" for="btncheck1">{{ time }}</label>
            </div>
            {% endfor %}
            <div class="form_repeat">
                <label for="id_repeat">Repetir semanalmente:
                {{ form.repeat }}
                <span class="checkmark"></span>
            </label>
            </div>
            <button type="submit" class="btn btn-primary">Agendar</button>
        </form>
    </div>
</div>
{% endblock %}